body {
    font-family: 'Montserrat';
}

header {
    background-color: #343A40; 
    margin: -8px;
    margin-top: -50px;
}
header p {
    color: white; 
    font-size: 50px; 
    padding: 1%;
}
ul {
    list-style-type: none;
    margin: -8px;
    margin-top: -50px;
    overflow: hidden;
    background-color: #343A40;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
li .active:hover {
    background-color: rgb(0, 106, 141);
}

.active {
    background-color: #008CBA;
}

footer a {
    color: white;
}

footer {
    background-color: #343A40;
    color: white;
    margin: -8px;
    text-align: center;
}
footer h4{
    padding-top: 1%;
}
footer p{
    padding-bottom: 1%;
}

table {
    background-color: snow;
    padding: 25px;
    border-radius: 25px;
    border-spacing: 20px;
}

table tr th{
    font-size: 30px
}

table tr td{
    padding: 20px;
    border-style: groove;
    border-radius: 25px;
}

.no-border {
    border: none;
}